%h3.page-title Products
.pull-right
	= link_to "Add Product", new_carpenter_admin_product_path, class: "btn btn-success"
%p.light All products you created

%hr

- @products.each do |product|
	= image_tag product.banner_url, alt: product.name
	%h1= link_to product.name, carpenter_admin_product_path(product)
